/* media queries styles */
body {
  background-color: beige;
}
.mydiv {
  background-color: aqua;
  color: black;
  width: 800px;
  height: 300px;
  border: 4px solid black;
  padding: 15px;
}
.div2 {
  background-color: blueviolet;
  border: 3px solid red;
  width: 700px;
  height: 400px;
  padding: 15px;
}
@media screen and (max-width: 400px) {
  .mydiv {
    background-color: rgb(209, 31, 31);
    width: 350px;
    height: 500px;
    color: black;
    font-size: 20px;
  }
  .div2 {
    background-color: rgb(83, 224, 158);
    color: blue;
    width: 330px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .mydiv {
    background-color: rgb(239, 120, 120);
    color: black;
    font-size: 20px;
  }
  .div2 {
    background-color: rgb(237, 242, 240);
    color: rgb(105, 105, 168);
  }
}
