/* pseudo-element selectors */

/* only for paragraph first line */
h1::first-line{
  color:blue;
}

/* only for paragraph first letter */
p::first-letter {
  color: red;
  font-size: 40px;
}


/* only for firs letter of h1 */
h1:first-child::first-letter{
  color:darkblue;
  font-size: 50px;
}
