/*  this css is written for positionex.html program */
div {
  border: 1px solid black;
  position: relative;
  left: 100px;
  top: 120px;
}

.grandparent {
  border: 2px solid green;
  width: 700px;
  height: 500px;
}
.parent {
  border: 1px solid blue;
  width: 550px;
  height: 250px;
  position: static;
}

p {
  position: absolute;
  left: 100px;
  border: 1px solid brown;
}
div.c1 {
  border: 1px solid black;
  position: static;
  top: 0;
  background-color: aqua;
}
