/* name based selector */

h1 {
  color: orange;
}
/* id based selector */
#spl {
  color: blue;
  font-size: 30px;
}
/* class based selector */
.c2 {
    color:green;

}

h3.c2{
    color:blueviolet;
}

